.playlists {
  color: white;
}

.playlist-container {
  color: white;
  position: absolute;
  top: 7%;
  left: 20.2%;
  display: flex;
  flex-wrap: wrap;
  background-color: #252422;
}

.playlist-preview {
  padding: 10px;
  margin: 1vw;
  background-color: #1a1a1a;
  height: 30vh;
  width: 13vw;
  border-radius: 7px;
}

.playlist-image {
  height: 150px;
  width: 165px;
}

.playlist-description {
  font-size: smaller;
}

.playlist-header {
  color: white;
}
