
.saved-songs {
  background-color: #2c2c2c80;
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 2%;
  margin-bottom: 20px;
}

.main {
	color: #a5a58d;
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin-left: 20vw;
  flex-wrap: wrap;
  /* padding-top: 30%; */
  height: 60vh;
  justify-content: space-between;
}
.liked-songs{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size:large;
}

.song-img{
  height: 200px;
  width: 200px;
  box-shadow: 5px 5px 8px black;
  border-radius: 2%;
}
.liked-songs-text {
  color: white;
  margin-left: 22vw;
  font-size: larger;
  font-weight: bold;
}