
.saved-songs {
  margin: 10px;
  background-color: #1b1a1a;
  height: 350px;
  width: 250px;
  border-radius: 7px;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  justify-content: center;
	flex-direction: column;
  align-items: center;
}

.saved-songs:hover {
  background-color: #463f3a;
}

.liked-songs {
  color: white;
  font-size: 17px;
}

.main {
	color: white;
  width: 78vw;
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin-left: 20vw;
  flex-wrap: wrap;
	text-overflow: clip;
  margin-left: 20vw;
  justify-content: flex-start;
}

.liked-song-img {
  height: 200px;
  width: 200px;
  box-shadow: 5px 5px 8px black;
  border-radius: 2%;
}

.liked-link {
  text-decoration: none;
}