
.saved-songs {
  background-color: #211e1a80;
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 2%;
  margin-bottom: 20px;
}

.main {
	color: white;
  position: absolute;
  top: 7%;
  left: 20%;
  display: flex;
  flex-wrap: wrap;
  background-color: #252422;
	text-overflow: clip;
}
.liked-songs{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.song-img{
  height: 200px;
  width: 200px;
  box-shadow: 5px 5px 8px black;
  border-radius: 2%;
}