.search-results {
  color: white;
  position: absolute;
  top: 7%;
  left: 22%;
  height: 150vh;
}

.featuring-text {
  margin-top: 5vh;
}

.featuring-section {
  display: flex;
  margin-left: -1vw;
}
