.search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  margin: 1% 0 0 1%;
}

.featuring-text {
  margin-top: 5vh;
}

.featuring-playlists {
  display: flex;
  margin-left: -1vw;
}
