.following-albums-container {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.following-albums {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-image {
  height: 160px;
  width: 160px;
}