.map{
  background-color: #211e1a80;
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 2%;
  margin-bottom: 20px;
}
.map:hover {
  background-color: #463f3ab4;
  cursor: pointer;
}
.title {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  color: white;
}
.render {
  color: #a5a58d;
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin-left: 20vw;
  flex-wrap: wrap;
  height: 60vh;
  justify-content: space-between;
}
.img {
  height: 200px;
  width: 200px;
  box-shadow: 5px 5px 8px black;
  border-radius: 2%;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.text:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}